{{define "content"}}
<div class="bg-white rounded-lg p-4">
    <!-- <h3 class="text-lg font-semibold mb-4">Main Content</h3> -->
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <!-- <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">ID</th>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Name</th>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Email</th>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Role</th>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                </tr>
            </thead> -->
            <tbody class="text-gray-700">
                <tr>
                    <td class="text-left py-3 px-4">1</td>
                    <td class="text-left py-3 px-4">John Doe</td>
                    <td class="text-left py-3 px-4">john.doe@example.com</td>
                    <td class="text-left py-3 px-4">Admin</td>
                    <td class="text-left py-3 px-4">
                        <a href="#" class="text-blue-500 pr-4">Edit</a>
                        <a href="#" class="text-red-500">Delete</a>
                    </td>
                </tr>
                <!-- More rows... -->
            </tbody>
        </table>
    </div>
</div>
{{end}}
